@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
#root {
  width: 100vw;
  margin: 0 auto;
  /* padding: 7rem; */
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

ul li {
  list-style-type: none;
  background: #ececec;
  cursor: pointer;
}

ul li:hover {
  background: #d4d4d4;
}

.dark-item {
  border-radius: 4px;
  border: 1px solid #6c6c6c;
  background: #dbdbdb;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
}

#details h2 {
  font-size: 18px;
}

#details h4:nth-of-type(1) {
  margin-top: 35px;
}

#details h4 {
  margin-top: 15px;
  font-size: 10px;
  font-weight: 500;
  text-align: left;
}
